body{margin:20px;
  padding:20px ;

}

a{
  color:black; text-decoration: none;
}

.verticalLine {
    border-left: thick solid steelblue;
}


ul {
list-style:none;
padding:5px;
padding-left:40px;
}

#active {
    color: steelblue;
       
}


h1{font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin:0;
  padding: 20px;

}

#grid ol{ border-right: 1px solid grey;
  width:85px;
  margin:0;
  padding : 30px;
  padding-left: 50px;
  }
 #grid {
    display: grid;
    grid-template-columns: 160px 1fr;
  }
  #grid #link {
    padding-left: 40px;
  }
#script {font-size: 10px; color:darkgrey; }
